template(name='signUp')
  .row: form.col.s12: .row
    .input-field.col.m6.s12
      input#first_name.validate(type='text')
      label(for='first_name') First Name
    .input-field.col.m6.s12
      input#last_name.validate(type='text')
      label(for='last_name') Last Name
    .input-field.col.m6.s12
        input#password.validate(type='password')
        label(for='password') Password
    .input-field.col.m6.s12
        input#password-repeat.validate(type='password')
        label(for='password-repeat') Password
    .input-field.col.s12
      input#email.validate(type='email')
      label(for='email') Email
